*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --color-primary: #7abcf3;
    --color-primary-hover: #7a5eff;
    --color-background: #23617e;
    --color-success: #14af14;
}

.container{
    background: var(--color-background);
    height: 100%;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-open-btn{
    background: var(--color-primary);
    padding: 10px;
    border-radius: 15px;
    color: #fff;
    cursor: pointer;
}
.modal-open-btn:hover{
    background: var(--color-primary-hover);
    transition: all 0.3s ease;
}

.modal{
    position: absolute;
    width: 280px;
    background: #fff;
    padding: 20px;
    border-radius: 15px;
    top: 50%;
    left: 50%;
    text-align: center;
    box-shadow: 1px 7px 14px -5px rgba(0,0,0,0.15);
    transform: translate(-50%,-50%) scale(1);
    transition: transform 0.4s, top 0.4s;
}
.modal.hide{
    opacity: 0;
    pointer-events: none;
    top: 0;
    transform: translate(-50%,-50%) scale(0.1);
}

.modal img{
    width: 100px;
    margin-top: -75px;
}

.modal .modal-content{
    margin-top: 10px;
}

.modal-content h1{
    font-size: 25px;
    font-weight: 300;
}
.modal-content p{
    color: #858585;
    margin: 5px 0 20px 0;
}

.btn{
    background: var(--color-primary);
    padding: 10px 20px;
    color: #fff;
    border-radius: 15px;
    text-align: center;
    transition: all 0.3s ease;
    cursor: pointer;
}
.btn:hover{
    background: #4a82af;
}